<!DOCTYPE html>
<html>
    <head>
        <title>Yelp Camp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Raleway:100,200,400" rel="stylesheet"> 
        <script src="https://use.fontawesome.com/4daf166e72.js"></script>

        <style>

            #campground-home {
                color: #fff;
                font-size: 25px;
            }

            #campground-home:hover {
                color: #46B6AC;
            }

            .right-button {
                float: right
            }

            @media screen and (max-width : 380px) {
                .right-button {
                    float: left
                }
            }
            .base-card.mdl-card {
                width: 90%;
            }
            .base-card > .mdl-card__title {
                color: floralwhite;
                background: #46B6AC;
            }
            .base-card > .mdl-card__menu {
                color: #fff;
            }
        </style>

        <!-- Style for The Home Page -->

        <style>
            .demo-layout-transparent {
                background: rgba(0, 0, 0, 0) center / cover;
            }
            .demo-layout-transparent .mdl-layout__header,
            .demo-layout-transparent .mdl-layout__drawer-button {
            /* This background is dark, so we set text to white. Use 87% black instead if
                your background is light. */
                color: white;
            }
        </style>

        <!-- Image card -->
        <style>
            .demo-card-image.mdl-card {
                width: 256px;
                height: 256px;
                background: url('https://getmdl.io/assets/demos/image_card.jpg') center / cover;
            }
            .demo-card-image > .mdl-card__actions {
                height: 52px;
                padding: 16px;
                background: rgba(0, 0, 0, 0.2);
            }
            .demo-card-image__filename {
                color: #fff;
                font-size: 14px;
                font-weight: 500;
            }

        /*.button {
  display: block;
  position: relative;
  -webkit-transform: rotate(360deg) rotateY(0);
  -webkit-transition: all 0.3s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
  -moz-transform: rotate(360deg);
  -moz-transition: all 0.3s;
  -moz-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
  -o-transform: rotate(360deg);
  -o-transition: all 0.3s;
  -o-transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
}

.button-rotate:hover {
  cursor: pointer;
  -webkit-transform: rotate(0deg) rotateY(0);
  -webkit-transition-delay: 0;
  -o-transition: all 0.3s;
  -moz-transform: rotate(0deg);
  -moz-transition-delay: 0;
  -o-transition: all 0.3s;
  -o-transform: rotate(0deg);
  -o-transition-delay: 0;
  -o-transition: all 0.3s;
}*/


/*.add-camp {
    transition: all 0.3s ease-in-out;
}*/

.button-rotate {
    transition: all 0.2s ease-in-out;
}

.button-rotate:hover {
    cursor: pointer;
    animation-name: expand;
    animation-duration: 0.2s;
    animation-delay: .1s;
    animation-fill-mode: both;
}

.add-camp-title {
    transition: all 0.3s ease-in-out;
}

.button-rotate:hover > .add-camp-title {
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-delay: .1s;
    animation-fill-mode: both;
}

@keyframes expand {
    from {width: 30px; border-radius: 50% 50%; text-align: center}
    to {border-radius: 4px; text-align: left; text-indent: 3px; width: 200px}
}

@keyframes fadeIn {
    to {opacity: 1; margin-left: 15px; vertical-align: middle; padding-top: 3px}
}


/*.button:after {
  content: '';
  cursor: pointer;
  width: 300px;
  height: 150px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.button:hover:after {
  display: block;
}*/
        </style>

    </head>
    <body style="background: url('/images/camp.jpg') bottom / cover; background-attachment: fixed; background-repeat:no-repeat">
    <!--<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">YelpCamp</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if (!currentUser) { %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li><a href="#">Signed in as <strong><%= currentUser.username %></strong></a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>-->

    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent" style="background: url('/images/black-header.jpg') center / cover">
        <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">YelpCamp</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
            <% if (!currentUser) { %>
                <a class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect" href="/login" style="margin-right: 5px; text-decoration: none">Login</a>
                <a class="mdl-button mdl-js-button mdl-button--colored mdl-color--blue-300 mdl-button--raised mdl-js-ripple-effect" href="/register" style="text-decoration: none">Register</a>
            <% } else { %>
               
                <a id="campground-home" href="/campgrounds" style="color: #fff: 5px; text-decoration: none"><i class="fa fa-home"></i></a>
                <div class="mdl-tooltip" data-mdl-for="campground-home">View Campgrounds</div>
                <a class="mdl-navigation__link" id="account-options" href="#" style="text-decoration: none"><i class="material-icons" style="margin-right: 15px">face</i><strong><%= currentUser.fullName %></strong></a>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="account-options">
                    <a href="/accountSettings" style="text-decoration: none"><li class="mdl-menu__item"><i class="fa fa-gear fa-lg" style="margin-right: 10px"></i>Account Settings</li></a>
                    <a href="/logout" style="text-decoration: none"><li class="mdl-menu__item"><i class="fa fa-sign-out fa-lg" style="margin-right: 10px"></i>Sign Out</li></a>
                </ul>
            <% } %>
        </nav>
        </div>
    </header>
     <% if (currentUser) { %>
        <div class="mdl-layout__drawer">
            <!--<span class="mdl-layout-title" style="height: 220px; background: url('https://getmdl.io/assets/demos/dog.png') bottom right 2% no-repeat #46B6AC; color: #fff; font-weight: 300">
            <%= currentUser.fullName %>
            
            </span>-->
            <div class="demo-card-image mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
                <span class="demo-card-image__filename"><%= currentUser.fullName %></span>
            </div>
            </div>
            <nav class="mdl-navigation">
            <a class="mdl-navigation__link" style="text-decoration: none" href="/logout"><i class="fa fa-gear fa-lg" style="margin-right: 10px"></i>Account Settings</a>
            <a class="mdl-navigation__link" style="text-decoration: none" href="/logout"><i class="fa fa-sign-out fa-lg" style="margin-right: 10px"></i>Sign Out</a>
            </nav>
        </div>
    <% } %>

    <!--</div>--> <!-- Continuation on the next page -->

    <!--<div class="container">
        <% if (error && error.length > 0) { %> 
            <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <% if (success && success.length > 0) { %> 
            <div class="alert alert-success" role="alert"><%= success %></div>    
        <% } %>
    </div>-->
    
    