<% include ../partials/top %>
<main class="mdl-layout__content">
<div class="container" style="margin-top: 2%">
    <% if (Object.keys(campgrounds).length == 0) { %>
    <header class="jumbotron" style="color: #fff; background: url('https://getmdl.io/assets/demos/dog.png') bottom right 15% no-repeat #46B6AC">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>Campgrounds are usually placed here! <%= campgrounds %> </p>
            <p>No available campgrounds for the moment. Maybe you can add one!</p>
            <br />
            <p><a class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect" href="/campgrounds/new" style="margin-right: 5px; text-decoration: none">Add New Campgrounds</a></p>
        </div>
    </header>
    <% } %>

    <div class="row text-center">
        <% campgrounds.forEach(function(campground) { %>
        <div class="col-md-3 col-sm-6">

            <a href="/campgrounds" style="text-decoration: none">
                <div class="demo-card-image mdl-card mdl-shadow--2dp" style="margin-top: 15px; background: url('<%= campground.image %>') center / cover">
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions">
                        <span class="demo-card-image__filename"><%= campground.name %></span>
                    </div>
                </div>
            </a>

            <!--<div class="thumbnail">
                <img src="<%= campground.image %>">
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>-->
        </div>
        <% }); %>
    </div>
</div>
</main>
</div> <!-- Closing tag for the ml layout. -->
<% include ../partials/bottom %>